body {
	background-color:#ffffe6;
	color: #3d405b;
	font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif
}
main {
	width:75vw; 
	max-width: 650px; 
	margin: 25vh auto 0
}
h1 {
	font-size: 2em;
	font-weight: bold;
}
p {
	font-size: 1.2em;
}

.short {display: inline}
.long {display: none}
@media (min-width: 600px) {
	.long {display: inline}
	.short {display: none}
}
.decorativeLine {
	overflow: hidden;
	letter-spacing: 1px;
	color: #3d405b;
}

#glasses-box {
	position: relative
}

#glasses-SVG {
	position: relative;
	z-index: 1;
	width:60%;
	max-width: 250px;
}
#glasses-SVG-background {
	fill: #ffffe6
}
.glasses-SVG-lines {
	fill: #3d405b 
}

