body {
	background-color:#fffef9;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
main {
	width:75vw; 
	max-width: 650px; 
	margin: 30vh auto 0
}
h1 {
	font-size: 36px;
	font-weight: bold;
}

span.avoidwrap { display:inline-block; }

#glasses-box {
	position: relative
}

#glasses-SVG {
	position: relative;
	z-index: 1;
	width:250px
}
#glasses-SVG-background {
	fill: #fffef9
}
.glasses-SVG-lines {
	fill: #000000
}

#TEST {
	position: absolute;
	top: 4px;
	left: 50px;
	z-index: 0;
	width: 195px;
	height:80px;
}